* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: .8rem;
  font-weight: 400;
  color: #212121;
  background: #f8f8f8;
  position: relative;
  overflow-x: hidden;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.02em;
  margin-bottom: 4px;
}

.subTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}


.infoDesc {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-right: 15px;
  color: #696969;
}

.btn {
  color: #fff;
  background-color: #f18024;
  border: 1px solid #f18024;
  border-radius: 18px;
  padding: 8px 20px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn:hover {
  background-color: transparent;
  color: #f18024;
}

input, select {
  border: 1px solid #b5b5b5;
  border-radius: 3px;
  color: #212121;
  padding: 5px;
  width: 100%;
  height: 35px;
  outline: none;
}

input[type="radio"] {
  width: 16px;
  height: 16px;
  vertical-align: baseline;
  margin-right: 5px;
}

input[type="radio"]:checked {
  appearance: none;
  border: 3px solid #f18024;
  border-radius: 50%;
}

label {
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-size: 16px;
}

.labels {
  display: flex;
  align-items: center;
}

select {
  cursor: pointer;
}

textarea {
  width: 100%;
  max-width: 100%;
  height: 70px;
  max-height: 70px;
  border: 1px solid #b5b5b5;
  border-radius: 3px;
  color: #212121;
  padding: 5px;
  outline: none;
}

input:focus, select:focus, textarea:focus {
  border: 1px solid #f18024;
}

button {
  outline: none;
}

.sidebarBtn svg {
  color: #787878;
}

.active::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  height: 80px;
  width: 7px;
  background-color: #f18024;
  border-radius: 5px;
}

.active * {
  color: #f18024;
}

::-webkit-scrollbar {
  background: #b5b5b5;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #464b4f;
  border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.ant-picker {
  width: 100%;
  padding-top: 20px;
  height: 40px;
}

.ant-picker:hover {
  border-color: #f18024;
}

.ant-picker-now a {
  color: #f18024;
}

.ant-select-focused:where(.css-dev-only-do-not-override-mxhywb).ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
  border-color: #f18024;
  box-shadow: 0px 0px 3px 0px #feaf6d;
}

:where(.css-dev-only-do-not-override-mxhywb).ant-btn-primary{
  background-color: #feaf6d;
}

:where(.css-dev-only-do-not-override-mxhywb).ant-btn-primary:not(:disabled):hover {
  background-color: #f18024;
}

:where(.css-dev-only-do-not-override-mxhywb).ant-picker-dropdown .ant-picker-time-panel .ant-picker-content {
  height: 100px;
}

:where(.css-dev-only-do-not-override-mxhywb).ant-picker-dropdown .ant-picker-today-btn{
  color: #f18024;
}

:where(.css-dev-only-do-not-override-mxhywb).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border-color: #f18024;
}

:where(.css-dev-only-do-not-override-mxhywb).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner, :where(.css-dev-only-do-not-override-mxhywb).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner, :where(.css-dev-only-do-not-override-mxhywb).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
  background: #f18024;
}


:where(.css-dev-only-do-not-override-mxhywb).ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
  border-color: #f18024;
}

:where(.css-dev-only-do-not-override-mxhywb).ant-picker-focused {
  border-color: #f18024;
}
